[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
django-widget-tweaks = "*"
pillow = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"
django-seed = "*"
faker = "*"

[requires]
python_version = "3.6"
