{% extends 'accounts/base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}"> {% endblock head %} {% block body %}
<div class="container-fluid h-100">
    <div class="row h-100 mx-auto d-flex justify-content-center">
        <div class="col-md-6 white-back bg-img p0">
            <a href="https://www.freepik.com/free-vector/hacker-icons-flat_1530018.htm">
                <div class="h-100 w-100 overlay">
                    <div class="text-center" style="padding-top: 15px;">
                        <h4 style="color: white; letter-spacing: 3px;">
                            {% block heading %} {% endblock heading %}
                        </h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-5 primary-back">
            {% block auth %} {% endblock auth %}
        </div>

    </div>
</div>
{% endblock body %}