{% extends 'accounts/auth.html' %} {% block title %} Password Changed {% endblock title %} {% block heading %} Password Change
{% endblock heading %} {% block auth_heading %} Success! {% endblock auth_heading %} {% block auth %}
{% load static %}
<div class="h-50 d-flex justify-content-center" style="flex-direction: column;">
    <img class="img-fluid d-block mx-auto mt-15" src="{% static 'images/done.png' %}" alt="Success Image" >
</div>

<h5 class="text-center mt-15">Password Changed.</h5>

{% endblock auth %}