{% extends 'accounts/auth.html' %} {% block title %}Registration | Preetam{% endblock title %} {% block heading %} Registration {% endblock heading %}


{% block auth_heading %}
    New User!
{% endblock auth_heading %}
    

{% block auth %}
<form action="" method="POST">
    {% csrf_token %}
    {% include 'accounts/form_snippet.html' %}
    <div class="row">
        <div class="col-sm-12 text-center">
            <a href="{% url 'accounts:login' %}">Already have a account?</a>
        </div>
    </div>
    <button style="margin-top: 25px;" type="submit" class="btn btn-primary">Submit</button>
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock auth %}