{% extends 'accounts/auth.html' %} {% block title %} Password Reset {% endblock title %} {% block heading %} Password Reset
{% endblock heading %} {% block auth_heading %} Sent! {% endblock auth_heading %} {% block auth %} {% load static %}
<img class="img-fluid d-block mx-auto mt-15" src="{% static 'images/done.png' %}" alt="Success Image">

<p class="mt-15">
    We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive
    them shortly.
</p>
<p>
    If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
</p>

{% endblock auth %}