{% extends 'accounts/auth.html' %} {% block title %} Reset Password {% endblock title %} {% block heading %} Password Reset
{% endblock heading %} {% block auth_heading %} Reset Password! {% endblock auth_heading %} {% block auth %}


{% if validlink %}
<form action="" method="POST">
    {% csrf_token %} {% include 'accounts/form_snippet.html' %}
    <button style="margin-top: 25px;" type="submit" class="btn btn-primary">Submit</button>
</form>
    
{% else %}
<h5 class="text-center mt-15">
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.
</h5>

{% endif %}
    

{% endblock auth %}