{% extends 'accounts/auth.html' %} {% block title %} Password Reset {% endblock title %} {% block heading %} Password Reset
{% endblock heading %} {% block auth_heading %} Complete! {% endblock auth_heading %} {% block auth %} {% load static %}
<div class="h-50 d-flex justify-content-center" style="flex-direction: column;">
    <img class="img-fluid d-block mx-auto mt-15" src="{% static 'images/done.png' %}" alt="Success Image">
</div>

<h5 class="text-center mt-15">
    Your password has been reset. You may go ahead and
    <a href="{% url 'accounts:login' %}">sign in</a> now.
</h5>

{% endblock auth %}